# Using Functions

In [1]:
# a reference to the max function
max

In [2]:
# calling the max function with 1 argument, a list of numbers
max([4, 2, 3, 1])

4

In [3]:
# The output of functions can be assigned to a variable 
maximum_number = max([4, 2, 3, 1])
print(maximum_number)

4

In [4]:
print('The max is: ' + str(max([4, 2, 3, 1])))

The max is: 4

# Defining Functions

In [5]:
# Use def to write a custom function
def increment(n):
    # Write the programatic task you wish the function to perform
    return n + 1

In [6]:
# Call the function to execute it
increment(3)

4

In [7]:
six = increment(increment(increment(3)))

print(six)

6

In [8]:
six = increment(increment(increment(3)))
six = increment(increment(4))
six = increment(5)
six = 6

In [9]:
def increment(n):
    return n + 1
    print('You will never see this')
    return n + 1

increment(3)

4

# Arguments / Parameters

In [11]:
# A function can accept multiple arguments 
def add(a, b):
    result = a + b
    return result

x = 3
seven = add(x, 4)

seven

7

In [12]:
def shout(message):
    print(message.upper() + '!!!')

return_value = shout('hey there')
print(return_value)

HEY THERE!!!
None

In [13]:
# A function also does not need an argument if you wish for it to behave independently 
def sayhello():
    print('Hey there!')

sayhello()

Hey there!

In [14]:
# A function MUST have the same amount of arguments as assigned when you call it 
sayhello(123)

TypeError: sayhello() takes 0 positional arguments but 1 was given

## Default Values

In [16]:
# If you wish you can assign default values to the function
def sayhello(name='World', greeting='Hello'):
    return '{}, {}!'.format(greeting, name)

sayhello()

'Hello, World!'

In [17]:
# Even with default values, they can be adjusted if you wish
sayhello('Codeup')

'Hello, Codeup!'

In [18]:
sayhello('Codeup', 'Salutations')

'Salutations, Codeup!'

## Keyword Arguments

In [19]:
# You can enter your arguments out of order so long as you specify what they are 
sayhello(greeting='Salutations', name='Codeup')

'Salutations, Codeup!'

In [20]:
sayhello('Codeup', greeting='Salutations') # Okay

'Salutations, Codeup!'

In [21]:
sayhello(greeting='Salutations', 'Codeup') # ERROR!

SyntaxError: positional argument follows keyword argument (1750871554.py, line 1)

## Calling Functions

In [22]:
# Functions can be given a list of arguments 
args = ['Codeup', 'Salutations']

sayhello(*args)

'Salutations, Codeup!'

In [23]:
kwargs = {'greeting': 'Salutations', 'name': 'Codeup'}

sayhello(**kwargs)

'Salutations, Codeup!'

# Function Scope

In [24]:
# A variable established out of a functon can be accessed by all functions 
a_global_variable = 42

def somefunction():
    print('Inside the function: %s' % a_global_variable)

somefunction()
print('Outside the function: %s' % a_global_variable)

Inside the function: 42
Outside the function: 42

In [25]:
# A variable established inside a functions can only be accessed by that functions 
def somefunction():
    a_local_variable = 'pizza'
    print('Inside the function: %s' % a_local_variable)

somefunction()
print('Outside the function: %s' % a_local_variable)

Inside the function: pizza

NameError: name 'a_local_variable' is not defined

In [26]:
# Variables can be reassigned within the scope of a function
## So long as the reassignment happens within the scope of the function it will not adjust
## the value outisde the functions scope 
n = 123

def somefunction():
    n = 10
    n = n - 3
    print('Inside the function, n == %s' % n)

print('Outside the function, n == %s' % n)
somefunction()
print('Outside the function, n == %s' % n)

Outside the function, n == 123
Inside the function, n == 7
Outside the function, n == 123

# Lambda Functions

In [27]:
# Lambda functions can be used to return a single one time function
add_one = lambda n: n + 1
add_one(9)

10

In [28]:
square = lambda n: n ** 2
square(9)

81

# Exercises

## 1) Define a function named is_two. It should accept one input and return True if the passed input is either the number or the string 2, False otherwise.

In [30]:
def is_two(x):
    return x == 2 or x == '2' or x == 'two'

is_two(2)

True

In [36]:
is_two('2')

True

In [37]:
is_two('two')

True

In [38]:
is_two(1)

False

In [39]:
is_two('3')

False

In [40]:
is_two('too')

False

## 2) Define a function named is_vowel. It should return True if the passed string is a vowel, False otherwise.

In [49]:
def is_vowel(x):
    return x.lower() in ('a', 'e', 'i', 'o', 'u')

is_vowel('a')

True

In [80]:
is_vowel('e')

True

In [50]:
is_vowel('E')

True

In [51]:
is_vowel('b')

False

In [52]:
is_vowel('F')

False

In [53]:
is_vowel('John')

False

In [54]:
is_vowel('aei')

False

In [55]:
is_vowel('uoiea')

False

## 3) Define a function named is_consonant. It should return True if the passed string is a consonant, False otherwise. Use your is_vowel function to accomplish this.

In [56]:
def is_consonant(x):
    return is_vowel(x) == False

is_consonant('J')

True

In [57]:
is_consonant('a')

False

## 4) Define a function that accepts a string that is a word. The function should capitalize the first letter of the word if the word starts with a consonant.

In [61]:
def capitalize_consonant(x):
    if is_consonant(x[0]) == True:
        return x.capitalize()
    else:
        return x
    
capitalize_consonant('john')

'John'

In [62]:
capitalize_consonant('allen')

'allen'

## 5. Define a function named calculate_tip. It should accept a tip percentage (a number between 0 and 1) and the bill total, and return the amount to tip.

In [63]:
def calculate_tip(tip_percent, bill_total):
    tip = bill_total * tip_percent
    return tip

calculate_tip(.2, 100)

20.0

In [64]:
calculate_tip(.15, 50)

7.5

## 6) Define a function named apply_discount. It should accept a original price, and a discount percentage, and return the price after the discount is applied.

In [65]:
def apply_discount(original_price, discount_percent):
    discount = original_price * (discount_percent / 100)
    new_price = original_price - discount
    return new_price

apply_discount(100, 20)

80.0

In [66]:
apply_discount(50, 15)

42.5

## 7) Define a function named handle_commas. It should accept a string that is a number that contains commas in it as input, and return a number as output.

In [68]:
def handle_commas(x):
    return int(x.replace(',', ''))

handle_commas('1,000')

1000

In [69]:
thousand =handle_commas('1,000')

type(thousand)

int

## 8) Define a function named get_letter_grade. It should accept a number and return the letter grade associated with that number (A-F).

In [70]:
def get_letter_grade(grade):
    if grade > 90:
        return('A')
    elif grade > 80:
        return('B')
    elif grade > 70:
        return('C')
    elif grade > 60:
        return('D')
    else:
        return('F')
    
get_letter_grade(100)

'A'

In [71]:
get_letter_grade(88)

'B'

In [72]:
get_letter_grade(77)

'C'

In [73]:
get_letter_grade(66)

'D'

In [74]:
get_letter_grade(45)

'F'

## 9) Define a function named remove_vowels that accepts a string and returns a string with all the vowels removed.

In [81]:
def remove_vowels(x):
    word = ''
    for letter in x:
        if is_consonant(letter) == True:
            word += letter
    return word
        
remove_vowels('John')

'Jhn'

In [82]:
remove_vowels('Grinstead')

'Grnstd'

## 10) Define a function named normalize_name. It should accept a string and return a valid python identifier, that is:
 - anything that is not a valid python identifier should be removed
 - leading and trailing whitespace should be removed
 - everything should be lowercase
 - spaces should be replaced with underscores
 - for example:
     - Name will become name
     - First Name will become first_name
     - % Completed will become completed

In [90]:
def normalize_name(name):
    name = name.strip()
    name = name.replace(' ', '_')
    normal_name = ''
    for character in name:
        if character.isalpha() == True or character =='_':
            normal_name+=character
    return normal_name.lower()

normalize_name('   John!@#$% All3n GrInStEad. @#$ ')

'john_alln_grinstead_'

## 11) Write a function named cumulative_sum that accepts a list of numbers and returns a list that is the cumulative sum of the numbers in the list.
 - cumulative_sum([1, 1, 1]) returns [1, 2, 3]
 - cumulative_sum([1, 2, 3, 4]) returns [1, 3, 6, 10]

In [100]:
def cumulative_sum(numbers):
    # Establish a new list
    newlist = []
    # Establish a variable to count through the index
    i = 1
    # Loop through the list
    for num in numbers:
        # Calculate the next number in the list 
        cumulative = sum(numbers[:i])
        # Add the next number to the new list 
        newlist.append(cumulative)
        # Move on to the next item on the list 
        i += 1
    return newlist

cumulative_sum([1, 1, 1])

[1, 2, 3]

In [101]:
cumulative_sum([1, 2, 3, 4])

[1, 3, 6, 10]

In [102]:
cumulative_sum([5, 20, 93])

[5, 25, 118]